<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="../style.css">
    <script type="module" src="../js/services/postService.js"></script>
    <div id="navbar-container"></div>
    <script>
        fetch('/components/navbar.html')
            .then(res => res.text())
            .then(html => document.getElementById('navbar-container').innerHTML = html);
    </script>
</head>
<body>
    <main>
        <div id="post-content" class="post">
        
        </div>
    </main>
</body>
</html>